/* FILTRO NORMAL --------------------*/
.div_filter{
	float: left;
	width: 250px;
}
.div_filter .select_custom{
	width: 95%;
	height: 30px;
	border: solid 1px var(--colorGray);
	border-radius: 5px;
	cursor: pointer;
	background-color: white;
}
.div_filter .select_custom .input_readonly{
	float: left;
	width: 90%;
	font-size: 14px;
	padding-top: 3px;
	padding-left: 5px;
}
.div_filter .select_custom .icon{
	float: left;
	width: 3%;
	font-size: 10px;
	padding-right: 10px;
	margin-top: 7px;
	text-align: right;
	transition: all 0.4s ease-in-out;
}
.div_filter .select_custom .input_readonly input{
	border: none;
	cursor: pointer;
	background-color: transparent;
}
.clear_filter{
	float: left;
	width: 50px;
}
.clear_filter .icon_clear_filter{
	width: 95%;
	margin-left: 2.5%;
	padding-top: 3px;
	color: var(--colorBlue);
	cursor: pointer;
}
.input_filter_placeholder::-webkit-input-placeholder {
    color: var(--colorBlue);
}
/* -------------------------- -------------  */
/* SUB FILTRO --------------- -------------  */
.div_sub_filter{
	float: left;
	width: 100%;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: solid 1px var(--colorGray);
	background-color: transparent;
}
.div_sub_filter .sub_select_custom{
	width: 100%;
	height: 30px;
	border-radius: 0px;
	cursor: pointer;
	background-color: white;
}
.div_sub_filter .sub_select_custom .input_readonly{
	float: left;
	width: 95%;
	font-size: 14px;
	padding-top: 3px;
	padding-left: 5px;
}
.div_sub_filter .sub_select_custom .icon{
	float: left;
	width: 3%;
	font-size: 10px;
	padding-right: 10px;
	margin-top: 7px;
	text-align: right;
	transition: all 0.4s ease-in-out;
}
.div_sub_filter .sub_select_custom .input_readonly input{
	border: none;
	cursor: pointer;
	background-color: transparent;
}
.sub_input_filter_placeholder::-webkit-input-placeholder {
    font-weight: bold;
}
.sub_filter_content{
	/*width: 300px;*/
	width: 100%;
	max-height: 300px;
	display: none;
	border-radius: 5px;
	z-index: 999999;
	border: none;
	background-color: white !important;
	overflow: hidden;
	overflow-y: scroll;
}
/* -------------------------- -------------  */
.iconAnimate_play{
	animation: animIcon_play 0.2s ease-in-out;
	animation-fill-mode: forwards;
}
.iconAnimate_reverse{
	animation: animIcon_reverse 0.2s ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes animIcon_play{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(180deg);}
}
@keyframes animIcon_reverse{
	0%{transform: rotate(180deg);}
	100%{transform: rotate(0deg);}
}

/* -- WIDTH FILTER -- */
.width300{
	width: 300px !important;
}
.width350{
	width: 350px !important;
}
.width400{
	width: 400px !important;
}
.width500{
	width: 500px !important;
}
.width600{
	width: 600px !important;
}
/*--------------------*/
.filter_content{
	position: absolute;
	/*width: 300px;*/
	height: 300px;
	display: none;
	border-radius: 5px;
	z-index: 999999;
	border: solid 1px var(--colorGray);
	background-color: white !important;
	overflow: hidden;
	overflow-y: scroll;
}
.filter_content .background{
	width: 95%;
	margin-left: 2.5%;
	padding-top: 5px;
}
.filter_content .background .list_filter{
	width: 100%;
	height: auto;
	background-color: transparent;
}
.filter_content .background .list_filter .item_filter{
	width: 100%;
	height: 30px;
	border-radius: 5px;
	padding-left: 10px;
	padding-top: 3px;
	font-size: 13px;
	background-color: transparent;
	cursor: pointer;
}
.filter_content .background .list_filter .item_filter:hover{
	background-color: rgb(236, 236, 236);
}
.filter_content .background .list_filter .item_filter span:nth-child(1){
	float: left;
	padding-top: 3px;
	font-weight: bold;
}
.filter_content .background .list_filter .item_filter span:nth-child(2){
	float: right;
	padding-top: 3px;
	padding-right: 10px;
	color: rgb(158, 158, 158);
	font-weight: 600;
}
.filter_content:nth-child(2){
	background-color: teal;
}
.filter_content:nth-child(3){
	background-color: blue;
}
.filter_content:nth-child(4){
	background-color: red;
}
.filter_content:nth-child(5){
	background-color: black;
}
.filter_content:nth-child(6){
	background-color: yellow;
}

.scroll_filter {
	overflow: scroll;
}
.scroll_filter::-webkit-scrollbar {
	width: 5px;
}
.scroll_filter::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(141, 157, 209, 0.829); 
}
@media only screen and (max-width: 600px) {
	
}
@media only screen and (min-width: 600px) and (max-width: 768px) {

}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.filter_resp1{
		display: none;
	}
	.filter_resp2{
		display: none;
	}
	.sub_filter_resp1{
		display: block;
	}
	.sub_filter_resp2{
		display: block;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
	.filter_resp1{
		display: none;
	}
	.filter_resp2{
		display: none;
	}
	.sub_filter_resp1{
		display: block;
	}
	.sub_filter_resp2{
		display: block;
	}
}
@media only screen and (min-width: 1440px) and (max-width: 1600px) {
	.filter_resp1{
		display: block;
	}
	.filter_resp2{
		display: none;
	}
	.sub_filter_resp1{
		display: none;
	}
	.sub_filter_resp2{
		display: block;
	}
}
@media only screen and (min-width: 1600px) {
	.filter_resp1{
		display: block;
	}
	.filter_resp2{
		display: block;
	}
	.sub_filter_resp1{
		display: none;
	}
	.sub_filter_resp2{
		display: none;
	}
}